.tile {
  border-radius: 15px;
  box-shadow:
   10px 10px 30px 0 #FFFFFF,
   -10px -10px 30px 0 #AEAEC0;
   background-color: #F0F0F3;
   height: 25vh;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-around;
   padding: 10px;
   color: black;
   text-decoration: none;
}

.tileTitle {
  font-weight: 300;
  text-decoration: underline;
}

.tileText {
  font-weight: 200;
}
