.heading {
  height: 10vh;
  background-color: #f5dede;
  box-shadow: 0 10px 30px -30px #FFFFFF;
}

.title {
  margin: 0;
  height: stretch;
  padding: 2.5vh;
  font-weight: 300;
  color: black;
  font-size: 4vh;
  line-height: 10vh;
  text-decoration: none;
}
