.library {
  display: grid;
  grid-template-columns: 85vw;
  grid-gap: 2rem;
  grid-template-rows: repeat(auto, 40vh);
  height: 100%;
  justify-content: center;
  align-items: center;
  margin: 3vh 0 3vh 0;
  background-color: #F0F0F3;
}

@media only screen and (min-width: 850px) {
  .library {
    grid-template-columns: repeat(auto-fit, 360px);
    grid-template-rows: repeat(auto, 240px);
  }

}
