.article {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 90vh;
}

.artTitle {
  font-weight: 400;
  padding: 10px;
  margin: 0px;
}

.artBox {
  display:flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  width: 100vw;
}

.artAuthor, .artDate {
  font-weight: 300;
  padding: 5px;
}

.artAbst {
  text-align: left;
  padding: 5px 10px 5px 10px;
}

.artPic {
  height:25vh;
}

.artCap {
  font-size: 12.5px;

}

.buttons {
  width: 100vw;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #f5dede;
  height:12vh;
}

.artBut {
  width: 150px;
  height: 50px;
  border-radius: 10px;
  background-color: #f5dede;
  box-shadow:
    inset 0px 0px 0px 0 #AEAEC0,
    inset 0px 0px 0px 0 #f6f2f2,
    3px 3px 3px 0 #f6f2f2,
    -3px -3px 3px 0 #AEAEC0;
  line-height: 50px;
  color: black;
  text-decoration: none;
}


@media only screen and (min-width: 850px) {
  .artTitle {
    margin: 1vh 0 0 0;
  }

  .artBox {
    justify-content: space-around;
  }

  .artAbst {
    padding: 0 10vw 0 10vw;
  }

  .artBut {
    font-size: 15px;
    transition: linear .15s;
  }

  .artBut:hover {
    font-size: 13px;
    box-shadow:
      inset 3px 3px 3px 0 #AEAEC0,
      inset -3px -3px 3px 0 #f6f2f2,
      0px 0px 0px 0 #f6f2f2,
      0px 0px 0px 0 #AEAEC0;
  }
}
